ul
{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-content:flex-start;
    flex-wrap: center;

}
li
{
    padding:10px;
    width:250px;
    max-width: 250px;
    max-height:400px;


}
.card
{
    margin:auto;
    padding:5px;
    height:100%;
    width:100%;
    box-shadow:5px 5px 10px rgb(19, 13, 13);
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.card >img
{
    width:100%;
    height:50%;
}
.card article
{
    padding:5px;

}

.card p
{
    margin:0;
    padding:3px;
}
.card h2
{
    margin:0px;
    
}

.d-block w-100 img
{
    height:50%;
    width:100%;
}